<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <head lang="en">
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>



        <title>Employee Management System | Employee</title>
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

            <div th:if="${not #lists.isEmpty(agentes)}">
                <h2>List of Employee</h2>
                <div align="right">
                    <form th:action="@{/agentes}" method="get">
                        <div class="input-group input-group-sm" style="width: 450px;">
                            <input type="text" name="name" class="form-control pull-right" placeholder="Name ..."  th:if="${key} == null"/>
                            <input type="text" name="name" class="form-control pull-right" placeholder="Name ..." required="true" th:if="${key} != null" th:value="${key}" />

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </form>
                </div>

               <div align="left">
                <a th:href="@{/agente/new}" class="btn btn-success" title="New employee">
                    <i class="glyphicon glyphicon-file"> </i> New Employee
                </a>

               </div>
                <table id="employeesTable" class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th> </th>
                        <th><a class="sorted" sd:pagination-sort="name">Name</a></th>
                        <th>Last Name</th>
                        <th>Salary</th>
                        <th>Departament</a></th>
                        <th>Functions</th>
                        <!--<th> </th>-->
                        <!--<th> </th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <!--<tr th:each="agente,iterationStatus : ${agentes}">-->
                    <tr th:each="agente : ${agentes}">
                        <td></td>
                        <!--<td th:text="${iterationStatus.count + (page.size * (page.number-1))}">Id</td>-->
                        <td th:text="${agente.name}">Name</td>
                        <td th:text="${agente.lastname}">Last Name</td>
                        <td th:text="${agente.ci}">Salary</td>
                        <td th:text="${agente.centroIdId.name}">Departament</td>
                        <td>
                        <a th:href="${'/agente/view/'+ agente.id}" class="btn btn-success" title="View employee">
                            <i class="glyphicon glyphicon-list"> </i> View
                        </a>
                        <a th:href="${'/agente/edit/' + agente.id}" class="btn btn-warning" title="Edit employee">
                            <i class="glyphicon glyphicon-edit"> </i> Edit
                        </a>
                        <a th:href="${'/agente/delete/' + agente.id}" class="btn btn-danger" title="Delete employee">
                            <i class="glyphicon glyphicon-trash"> </i> Delete
                        </a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th> </th>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Salary</th>
                        <th>Departament</th>
                        <th>Functions</th>
                        <!--<th> </th>-->
                        <!--<th> </th>-->
                    </tr>
                    </tfoot>
                </table>


            </div>

            <div class="row">
                <div class="col-sm-5">
                    <div class="pagination"><p>Showing <span class="badge"
                                                               th:text="${page.size * (page.number-1) + 1}"></span> to
                            <span class="badge" th:text="${page.lastPage ? page.totalElements : page.size * (page.number-1)+ page.size}"></span> of
                                <span class="badge"
                                th:text="${page.totalElements}"></span>
                             Agents </p></div>
                </div>

                <div class="col-sm-7">
                    <!-- Pagination Bar -->
                    <div th:fragment='paginationbar'>
                        <div class="text-center">
                            <ul class='pagination pagination-centered'>
                                <li th:class="${page.firstPage}?'disabled':''">
                                    <span th:if='${page.firstPage}'> « </span>
                                    <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'
                                       title='Go to first page'> « </a>
                                </li>
                                <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                                    <span th:if='${not page.hasPreviousPage}'> ‹ </span>
                                    <a th:if='${page.hasPreviousPage}'
                                       th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                                       title='Go to previous page'> ‹ </a>
                                </li>
                                <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                                    <span th:if='${item.current}' th:text='${item.number}'>1</span>
                                    <a th:if='${not item.current}'
                                       th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                            th:text='${item.number}'>1</span></a>
                                </li>
                                <li th:class="${page.hasNextPage}? '' : 'disabled'">
                                    <span th:if='${not page.hasNextPage}'> › </span>
                                    <a th:if='${page.hasNextPage}'
                                       th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                                       title='Go to next page'> › </a>
                                </li>
                                <li th:class="${page.lastPage}? 'disabled' : ''">
                                    <span th:if='${page.lastPage}'> » </span>
                                    <a th:if='${not page.lastPage}'
                                       th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'title='Go to last page'> » </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </body>
</html>